html
 head
  link(rel="stylesheet" href="public/bootstrap-3.3.6-dist/css/bootstrap.min.css")
  title hello world
 body
  ul(class="nav nav-tabs nav-justified")
   li(class="active")
    a(href="#" id="hour") Hour
   li
    a(href="#" id="day") Day
   li
    a(href="#" id="week") Week
   li
    a(href="#" id="month") Month

    
  canvas(id="myChart" width="400" height="400")
  script(src="public/jquery.min.js")
  script(src="public/bootstrap-3.3.6-dist/js/bootstrap.min.js")
  script(src="public/Chart.js")
  script(src="public/app.js")
