html
 head
  link(rel="stylesheet" href="/public/bootstrap-3.3.6-dist/css/bootstrap.min.css")
  link(rel="stylesheet" href="/public/stylesheets/timer.css")
  link(rel="apple-touch-icon" href="/public/images/timer-icon-iphone.png")
  link(rel="apple-touch-icon" sizes="76x76" href="/public/images/timer-icon-ipad.png")
  link(rel="apple-touch-icon" sizes="120x120" href="/public/images/timer-icon-iphone-retina.png")
  link(rel="apple-touch-icon" sizes="152x152" href="/public/images/timer-icon-ipad-retina.png")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="white")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Timer
body
  div(id="app")
  script(src="/public/timer.js")

