body {
  position: fixed;
  background-color: black;
  color: white;
}
.scroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.first_child {
  scroll-snap-align: start;
  min-width: 100vw;
}
.child {
  scroll-snap-align: start;
  min-width: 100vw;
}
.last_child {
  scroll-snap-align: start;
  min-width: 100vw;
  height: 100vh;
}
.section_title {
  padding-top: 20px;
}

.date {
  opacity: 70%;
  font-weight: lighter;
  font-size: smaller;
}